.tweet{
    border: 1px solid #0090CC;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
}

.username,
.date {
    color: rgba(153, 136, 136, 0.76);
    display: inline-block;
    margin: 0 10px;
}